rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() { return request.auth != null; }
    function staff() { return signedIn() && firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role in ['lecturer','admin']; }
    match /modules/{allPaths=**} { allow read: if signedIn(); allow write: if staff() && request.resource.size < 20 * 1024 * 1024; }
  }
}
